<h2>Autor: Damian Komoński</h2>
<p><strong>www.github.com/komonski</strong></p>

<p>Projekt na zaliczenie przedmiotu Systemy Teleinformatyczne, Politechnika Rzeszowska 2017/18</p>


<footer class="footer">
    <p>&copy; Damian Komoński 2017</p>
</footer>


</body>
</html>
