<div class="jumbotron">
    <h3>Type site address</h3>
    <form id="generator-form" action="/generator" method="post">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">http://www.</span>
            <input type="text" class="form-control" id="address" name="address" aria-describedby="basic-addon3">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>

<div class="site-code" class="row">
    <div class="col-12">
        <h2>Result for: <span id="site-address">{{address}}</span></h2>

        <h4>Source code:</h4>
        <div id="site-code" class="site-code-wrapper">
            {{siteCode}}
        </div>

        <h4>DOM:</h4>
        <div id="site-code-dom" class="site-code-wrapper"></div>
    </div>
</div>

<div class="row marketing site-result">
    <div class="col-lg-6 col-12">
        <h4>Internal links</h4>
        <ul id="internal-links"></ul>
    </div>

    <div class="col-lg-6 col-12">
        <h4>External links</h4>
        <ul id="external-links"></ul>
    </div>
</div>

<footer class="footer">
    <p>&copy; Damian Komoński 2017</p>
</footer>

</div> <!-- /container -->

<script src="javascripts/generator.js"></script>
</body>
</html>
