<div class="jumbotron">
    <h3>Type site address</h3>
    <form id="generator-form" action="/generator" method="post">
        <div class="form-group">
            <input type="name" class="form-control" id="address" name="address" placeholder="http://www.bbc.com/">
            <small id="emailHelp" class="form-text text-muted">Must start from http://www.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<footer class="footer">
    <p>&copy; Damian Komoński 2017</p>
</footer>

</div> <!-- /container -->

<script src="javascripts/index.js"></script>
</body>
</html>

